#logo{
    width: 100px;
    height: auto;
}
body{
    background-color: #E79A00;
}
#mypic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px #0f0f0f;
}
.row .col{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
#routediv{
    text-align: center;
}
#route{
    width: 70%;
    height: auto;
    margin-bottom: 3px;
    
}
#secondmain{
    background-color: #140a09;
    margin-top: 30px;
    box-shadow: 0px -10px 10px 5px #140a09;
    margin-bottom: 40px;
}
#secondpara{
    color: #FFFCF5;
    text-align: center;
    padding-top: 60px;
    padding-left: 30px;
}
#secondimg{
    border-radius: 50px;
    width: 80%;
    height: auto;
    /* padding-top:100px; */
    margin-top:60px;
}