#logo{
    width: 100px;
    height: auto;
}
body{
    background-color: #E79A00;
}
#mypic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px #0f0f0f;
}
.row .col{
    text-align: center;
    margin-bottom: 30px;
}
#routediv{
    text-align: center;
}
#route{
    width: 70%;
    height: auto;
    margin-bottom: 3px;
    
}